/data/*/*.json
/data/*/*.txt
/data/*/*.tsv
/data/*/*.avro
/data/*/*.ann
/data/*/*.gaz
/data/*/*/*.xml
/data/*/*/*.txt
/bash_scripts
data/__pycache__/
__pychache__
/ner/jindal/*.npy
/ner/glove.840B.300d.txt
/ner/models/*/*.h5
/ner/pkl/*.pkl
tmp
